body{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
  background-color:black;
  width: 100%;
}

.principal{
	display: flex;
	flex-direction: column;
}


.logo{
	
	display: flex;
	width: 30%;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.3em;
	color: #434343;
}

.logo > strong{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 2px;
	border-bottom: solid 2px;
} 

.icon{
	width: 50px;
}

.menu{
	width: 50%;
}

.menu > ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}

li a{
	cursor: pointer;
	color: white;
	transition: all 0.3s;
	border:solid 0.000000001px;
	padding: 5px;
	border-radius: 5px;
}

li a:hover{
	color: red;
	border-color: black;
}

.navbar{
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.introduce{
	background-color: #f3f3f3;
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 90px;
	background: url('');
	background-repeat: no-repeat;
	background-size: cover;
}


.big-lemma1{
	font-size: 3em;
	font-weight: bold;
	Margin-top: 100px;
	margin-bottom: 15px;
	Color: white;
	text-align: center;
}

.big-lemma2{
	font-size: 3em;
	font-weight: bold;
	Margin-top: 0px;
	margin-bottom: 30px;
	Color: white;
	text-align: center;
}

.sub-lemma{
	font-size: 0.8em;
	color: white;
	text-align: center;
}

.button{
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	padding: 15px;
	background-color: black;
	color: white;
	border: 0;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
}

.button:hover{
	background-color: red;
}

small{
	font-size: 0.7em;
	color: white;
}

small1{
	font-size: 0.7em;
	color: white;
	margin-bottom: 50px;
}


.description{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
}

.description > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
  


.logoD{
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 15px;
}

.textD{
	font-size: 0.9em;
	color: #f3f3f3;
	text-align: justify;
}

.text1{
	font-size: 0.9em;
	color: white;
	text-align: justify;
}


.opinion{
	padding-top: 130px;
	padding-bottom: 130px;
  padding-right: 0;
  padding-left: 0;
	display: flex;
  width: 100%;
	justify-content: center;
	align-items: center;
	background: url('https://i.ibb.co/2K4CZmr/BANNER-bottom.png');
	background-position: center;
	background-origin: initial;
	background-repeat: no-repeat;
	background-size: cover;
	transform:scaleX(-1) scaleY(-1);
}

.opinion > .inside{
	transform:scaleX(-1) scaleY(-1);
	display: flex;
	flex-direction: row;
	width: 50%
}

.imageO{
	margin-right: 30px;
}

img{
	width: 100px;
	border-radius: 60%;
}

footer{
	padding-left: 50px;
	background-color: black;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

a{
	color: #f3f3f3;
	text-decoration: none;
	border:solid 1px #626262;
	padding: 3px;
	transition: all 0.3s;
	border-radius: 5px;
}


a1{
	color: #f3f3f3;
	text-decoration: none;
	padding: 3px;
	transition: all 0.3s;
	border-radius: 5px;
}

a:hover{
	border-color: red;
}


footer > div{
	width: 15%;
}









@media screen and (max-width:750px){


.logo{
	width: 100px;
	height: 100px;

}




.menu > ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 40%;
}

li a{
	cursor: pointer;
	color: white;
	transition: all 0.3s;
	border:solid 0.000000001px;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.8em;
}

.big-lemma1{
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 15px;
	Color: white;
	text-align: center;
}
.big-lemma2{
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 15px;
	Color: white;
	text-align: center;
}

.sub-lemma{
	font-size: 0.5em;
	color: white;
	text-align: center;
}

.description{
	padding-left: none;
	padding-right: none;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10%;
}

.description > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

small{
	font-size: 0.434em;
	color: white;
}

small1{
	font-size: 0.434em;
	color: white;
}
.logoD{
	font-size: 0.992em;
	font-weight: bold;
	margin-bottom: 15px;
}

.textD{
	font-size: 0.558em;
	color: #f3f3f3;
	text-align: justify;
}

.text1{
	font-size: 0.558em;
	color: white;
	text-align: justify;
}

footer{
	padding-left: 30px;
	background-color: black;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}
div{

height: 100%;
width: 100%;
}



.opinion{
	padding-top: 130px;
	padding-bottom: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30%;
	background: url('https://i.ibb.co/2K4CZmr/BANNER-bottom.png');
	background-position: center;
	background-origin: initial;
	background-repeat: repeat;
	background-size: cover;
	transform:scaleX(-1) scaleY(-1);
}

.opinion > .inside{
	transform:scaleX(-1) scaleY(-1);
	display: flex;
	flex-direction: row;
	width: 50%
}




footer{
top-padding: 200px;
width: 100%;
height: 100%;
font-size: 0.434em

}



}


